# OS
.DS_Store

# Node / pnpm
node_modules/
.pnpm-store/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.tsbuildinfo

# Build outputs
build/
dist/
out/
www/

# IDE
.idea/
.vscode/
*.swp

# Env / secrets
.env
.env.*
